/*
dark green 
#132502

medium green 
#263A0E

light green 
#C5FF71

gold 
#9C8F35

dark gray 
#21231E

light gray
#A3A3A3
*/

html {
    font-size: 1.2em;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Serif", serif;
}

#page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #9c8f35;
    height: 72px;
    padding: 0 16px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #132502;
    color: #d3d3d2;
}

#page-header__title {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-family: "Pt Mono";
    text-transform: uppercase;
    font-weight: 100;
}

#page-header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-header__links {
    color: #c5ff71;
}

#page-header__links a {
    color: #c5ff71;
    text-decoration: none;
    margin-left: 16px;
}

#page-header__links a:hover {
    text-decoration: underline;
}

#page-header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-content {
    margin: 72px 16px;
    padding: 24px;
}

#page-content__about-image img {
    width: 200px;
}

#page-content__about-text h2 {
    margin-top: 0;
}

#page-content__about-text {
    margin-left: 30px;
    align-self: center;
}

#page-content__about {
    display: flex;
}

#page-footer {
    border-top: 1px solid gray;
    margin: 16px 8px;
    padding: 16px 16px;
    font-size: smaller;
}

#page-footer a {
    float: right;
}

#podcast_links {
    margin-top: 10px;
}

.episode {
    margin-bottom: 24px;
}

.episode__title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.episode__link a {
    text-decoration: none;
    color: #9c8f35;
    margin: 8px 0px;
}

.episode__link a:hover {
    text-decoration: underline;
}

.episode__pubDate {
    color: #a3a3a3;
    font-size: 0.8em;
    margin: 8px 0;
}

.episode__description {
    color: #21231e;
    margin: 8px 0px;
}

@media (max-width: 924px) {
    #page-header__title {
        font-size: 1.4rem;
    }
    #page-content__about-image img {
        padding-top: 16px;
        width: 150px;
    }
}

@media (max-width: 420px) {
    #page-header__title span {
        display: none;
    }
    #page-header__title:after {
        visibility: visible;
        font-size: 1.2rem;
        content: "RefCountPodcast";
        text-transform: none;
    }
    #page-content__about-image img {
        display: none;
    }
    #page-header__links {
        font-size: 0.9rem;
    }
    #page-content__about,
    #page-content__about-text {
        margin: 16px 0;
    }
}
